/* CSS-стили для режима "Концерт" */

#lyrics-container.style-concert #lyrics-display {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(10, 10, 10, 0.9);
    color: #FFFFFF;
    text-align: center;
} 